<body>
    <div class="container">
        <h1>
            <strong>Active Bank Accounts</strong>
        </h1>
        <hr>
        <div class="row">
            {{#each accounts}}
            <div class="card">
                <div class="card-dody container">
                    <span class="badge badge-dark"><strong>{{this.accountType}}</strong></span>
                    <hr>
                    Account Holder : <strong>{{this.accountHolder}}</strong>
                    <hr>
                    <div class="fa fa-money fa-lg float-right"> R <strong>{{this.balance}}</strong></div>
                    <br>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</body>
<style>
    .login,
    .register {
        visibility: hidden;
    }

    .logout {
        visibility: visible;
    }

    .card {
        padding: 20px !important;
        margin: 5px;
    }
</style>