<body>
    <div class="container text-center">
        <h1><strong>Home Page</strong></h1>
    </div>
    {{!-- <p class="loader">
        <i class="fa fa-bank" style="font-size: 150px"></i>
    </p> --}}
</body>
{{!-- <script>
    var count = 0;
    setInterval( () => {
        count+=1
        if (count == 2) {
            document.querySelector('.loader').classList.add('in');
        } else if (count == 4) {
            document.querySelector('.loader').classList.remove('in');
            count = 0;
        }
    }, 500);
</script> --}}