{{#if messages.error}}
<div class="alert alert-danger foat-right container">{{messages.error}}</div>
{{/if}}

{{#if messages.success}}
<div class="alert alert-success foat-right container">{{messages.success}}</div>
{{/if}}

<body>
    <div class="container">
        <div class="row">
            <form action="" method="post" class="form-group">
                <h1><strong>Login</strong></h1>
                <hr>
                <label for="username" class="form-label">Username</label>
                <input type="text" name="username" id="username" class="form-control" required autofocus>
                <br>
                <label for="password" class="form-label">Password</label>
                <input type="password" name="password" id="password" class="form-control" required>
                <br>
                <input type="submit" value="login" class="btn btn-outline-primary btn-block">
                <br>
                <p><input type="checkbox" name="" id=""> remember me</p>
                <a href="/recover">forgot password?</a>
            </form>
        </div>
    </div>
</body>